h1{
    text-align: center;
}
.rojo{
    border: 10px solid firebrick;
    }

.rosa{
    border: 10px solid hotpink;

}

.amarillo{
    border: 10px solid gold;

}


.Azul{
    border: 10px solid blue;
}